body{
    background: antiquewhite;
    font-family: Montserrat, sans-serif;
}

/* Barre nav */
nav{
    background: lightgrey;
    border: 1px solid darkgrey;
    height: 80px;
    display: flex;
}

.nav_active{
    color: green;
    background: whitesmoke;
}

ul{
    margin: auto;
    text-align: center;
}

li{
    display: inline;
    padding: 10px;
}

a{
    text-decoration: none;
    color:black;
}

ul li a:hover{
    font-size: 17px;
    color:darkslateblue;
}

/* Sites */
#flexSite{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}

.divSite{
    padding-left: 20px;
}

h2{
    color:seagreen;
}

.titre{
    color:indianred;
    width: 300px;
}

@keyframes opacite {
    from {opacity: 0;}
    to {opacity: 1;}
}

.texte{
    color:darkolivegreen;
    padding-right:10px;
    animation-name: opacite;
    animation-duration: 4s;
    width: 300px;
}

img{
    box-shadow: 4px 4px 8px #888888;
}


/* Formulaire contact + inscription */

form{
    margin-left: 10%;
    margin-right: 10%;
}

fieldset {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;
}

label{
    display:inline-block;
    vertical-align: top;
    width: 200px;
}

input{
    display:inline-block;
    width: 400px;
}

#input_adresse{
    visibility: hidden;
}
textarea{
    width: 400px;
    overflow: auto;
}

input[type=submit]{
    color:#fff;
    background-color:darkgrey;
    width: 200px;
    margin-top: 15px;
    padding: 10px;
}

input[type=submit]:hover {
    background-color: white;
    color:darkgrey;
    cursor: pointer;
}

h3{
    text-align: center;
}

.messErrContactForm{
    color:darkred;
}


