body{
    font-family: Montserrat, sans-serif;
}

/* Barre nav */
nav{
    background: #027373;
    border: 1px solid darkgrey;
    height: 80px;
    display: flex;
}

.nav_active{
    color: goldenrod;

}

ul{
    margin: auto;
    text-align: center;
}

li{
    display: inline;
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    color:white;
}

nav ul li a:hover{
    color:palegoldenrod;
}
.aaa{
    text-decoration: underline;
    color: #027373;
}


#logout{
    height: 40px;
    width: 40px;
}

.divConnSession{
    float: right;
    border: 2px solid darkgreen;
    padding: 5px;
    background: white;
    color: #027373;
    font-size: 14px;
}

.divConnSession p{
    margin:0;
}


/* Sites */
#flexSite{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    padding-left: 5%;
}

.divSite{
    padding-left: 20px;
}

h2{
    color:#027373;
    padding-left: 5%;
}

.titre{
    color:#7F8C1C;
    width: 300px;
}

.aTitre{
    text-decoration: none;
}

@keyframes opacite {
    from {opacity: 0;}
    to {opacity: 1;}
}

.texte{
    color: darkgrey;
    padding-right:10px;
    animation-name: opacite;
    animation-duration: 4s;
    width: 300px;
}

#photoDivSite img{
    box-shadow: 4px 4px 8px #888888;
    width: 276px;
    height: 183px;
}


/* Formulaire contact + inscription */

form{
    margin-left: 20%;
    margin-right: 20%;
}

fieldset{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h3{
    color: #027373;
}

label{
    display:inline-block;
    vertical-align: top;
}

#contact_form label{
    width: 100px;
}

#inscription_form label{
    width: 300px;
}

#connexion_form label{
    width: 200px;
}

#comment_form label{
    width:250px;
}

#form_reponse label{
    width:200px;
}

input{
    display:inline-block;
    width: 400px;
}

#input_adresse{
    visibility: hidden;
}
textarea{
    width: 400px;
    overflow: auto;
}

input[type=submit]{
    color:#fff;
    background-color:#027373;
    width: 200px;
    margin-top: 15px;
    padding: 10px;
    opacity: 0.75;
}

input[type=submit]:hover {
    background-color: palegoldenrod;
    color:#027373;
    cursor: pointer;
}

h3{
    text-align: center;
}

.messErrContactForm{
    color:darkred;
}

.messErrInscription .messErrConnexion{
    color:darkred;
}

/* vosCommentaires */

#divPhotoDetail img{
    padding: 26px;
    border: 1px solid #bbb;
    background: #F4F4F4;
    color: #777;
    box-shadow: 0 0 0 16px #fff inset,
    0 0 0 17px #DAD4D4 inset;
    width: 276px;
    height: 183px;

}

#presentation_detail{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top:5%;
    margin-left:5%;
    margin-right:5%;
}

.pTitre{
    font-weight: bold;
    margin-left: 5%;
    color:indianred;
}

.pBtn{
    text-align: center;
}
#btnPostComment{
    background-color: palevioletred;
    border: 1px black solid;
    border-radius: 1em;
    height: 40px;
}

#btnPostComment a{
    color:white;
}

#commentaires_detail{
    text-align: center;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    margin-left: 20%;
    margin-right: 20%;
    overflow: auto;
}

#divPagination a:hover{
    color:red;
}

/* page des commentaires individuels */


#divNbCommentInd{
    text-align: center;
    margin-bottom: 25px;
}

#divCommentInd{
    height:450px;
    overflow: auto;
}

#divCommentInd textarea{
    overflow: auto;
}
#detailCommentInd{
    border: 1px solid darkslateblue;
    margin-bottom: 10px;
}

#detailCommentInd button{
    border: 1px solid darkslateblue;
    margin-bottom: 10px;
}

#detailCommentInd button{
    background: #027373;
    color: white;
}

#detailCommentInd button:hover{
    background-color: palegoldenrod;
    color:#027373;
    cursor: pointer;
}

/* page administrateur */
/* tous les commentaires + reponse */

#comments_admin{
    height: 200px;
    overflow: auto;
}

#form_reponse{
    margin-top: 20px;
}

#pBtnReponse{
    text-align: center;
}

#pBtnReponse button{
    background: #027373;
    color: white;
    cursor: pointer;
    height: 40px;
    opacity: 0.5;
}

#pBtnReponse button:hover {
    text-decoration: none;
    color: palegoldenrod;
}

.btnAdmin{
    background: #027373;
    cursor: pointer;
    height: 40px;
    opacity: 0.5;
}

.btnAdmin a{
    text-decoration: none;
    color: white;
}

.btnAdmin a:hover{
    text-decoration: none;
    color: palegoldenrod;
}


/* Carte */

#divCarte{
    text-align: center;
    margin-top: 20px;
}

